<template>
  <div id="contactCon" class="contactCon">
    <div class="constructor">
      <div class="square"></div>

      <div class="cTitle">了解更多关于我的信息.</div>
      <div class="cIntro">
        如需进一步了解我的经历，请随时联系我，您可以在此表格中<strong>给我发送邮件</strong>，我收到邮件后会尽早回复您
      </div>
      <div class="cIntro">期待着能够与您合作，为您的团队或者公司贡献我的才能和经验</div>
    </div>
    <form class="formCon" @submit.prevent="sendEmail($event)">
      <div class="formTitle">联系我</div>
      <div class="line1">
        <input
          required
          v-model="mailInfo.name"
          class="subText"
          type="text"
          placeholder="姓名"
        />
        <input
          required
          v-model="mailInfo.email"
          class="subText"
          type="text"
          placeholder="邮箱"
        />
      </div>
      <div class="line1">
        <input required v-model="mailInfo.subject" type="text" placeholder="主题" />
      </div>
      <div class="line1">
        <textarea required v-model="mailInfo.text" placeholder="正文内容"></textarea>
      </div>
      <div class="line1">
        <button class="sendBtn" type="submit">发送邮件</button>
      </div>
    </form>

    <div class="extraConnection">
      <div class="smallIntro">或是使用其他方式联系我</div>
      <div class="iconCon">
        <hover_svg :svgSrc="qqSvgSrc">
          <template #bubbleContent>QQ：1084305889</template>
        </hover_svg>

        <hover_svg :svgSrc="wxSvgSrc">
          <template #bubbleContent>
            <img src="../assets/images/wxQRCode.jpg" />
          </template>
        </hover_svg>

        <hover_svg :svgSrc="dingdingSvgSrc">
          <template #bubbleContent>钉钉：13372410754</template>
        </hover_svg>

        <hover_svg :svgSrc="telephoneSvgSrc">
          <template #bubbleContent>电话：13372410754</template>
        </hover_svg>
      </div>
    </div>
  </div>
</template>

<style lang="less" scoped>
.contactCon {
  display: flex;
  flex-flow: row wrap;
  margin-top: 15rem;
  --contactFormWidth: 60%;

  .constructor {
    display: flex;
    flex-flow: column nowrap;
    flex-shrink: 0;
    background-color: var(--cardBg);
    align-self: center;
    transform: translateY(-10%);
    padding-top: 5.5rem;
    padding-bottom: 2rem;
    margin-right: -3rem;
    max-width: calc(100% - var(--contactFormWidth) + 3rem);
    z-index: 2;
    position: relative;
    border-bottom: 0.5rem solid var(--borderBg);
    box-sizing: border-box;

    .square {
      position: absolute;
      width: 20px;
      height: 20px;
      background-color: var(--borderBg);
      rotate: -30deg;
      right: 4rem;
      top: 3rem;
    }
    .square::after {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      border: 3px solid var(--squareOuter);
      left: -5px;
      top: -5px;
    }

    .cTitle {
      font-weight: bold;
      font-size: 1.75rem;
      letter-spacing: 0.2rem;
      text-align: left;
      padding-left: 1rem;
    }

    .cIntro {
      letter-spacing: 0.1rem;
      font-size: 0.9rem;
      line-height: 1.5rem;
      width: 70%;
      align-self: center;
      padding: 2rem 0;
      position: relative;
    }
    .cIntro::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      left: -1.6rem;
      border-radius: 50%;
      width: 0.6rem;
      height: 0.6rem;
      background-color: var(--appColor);
    }
  }

  @paddingTop: 6rem;
  @paddingRight: 3rem;
  @paddingBtn: 8rem;
  @paddingLeft: 5rem;
  .formCon {
    width: var(--contactFormWidth);
    flex-shrink: 0;
    background-color: var(--scrollTagBg);
    display: flex;
    flex-flow: column nowrap;
    margin-left: auto;
    padding: @paddingTop @paddingRight @paddingBtn @paddingLeft;
    box-sizing: border-box;
    color: #ffffff;

    .formTitle {
      font-weight: bold;
      font-size: 2rem;
      letter-spacing: 0.6rem;
      text-align: center;
    }
    .line1 > * {
      margin-right: 1rem;
    }
    .line1 > :last-child {
      margin-right: 0;
    }
    .line1 {
      display: flex;
      flex-flow: row nowrap;
      input,
      textarea {
        outline: none;
        padding: 1rem;
        flex: 1;
        font-size: 1rem;
        box-sizing: border-box;
        max-width: 100%;
        background-color: rgba(0, 0, 0, 0);
        color: #ffffff;
        border: 3px solid var(--iconBg);
        transition: all 0.3s ease-in-out;
      }
      input::placeholder,
      textarea::placeholder {
        color: #ffffff;
      }
      input:focus,
      textarea:focus {
        border-color: #ffffff;
      }
      input:focus::placeholder,
      textarea:focus::placeholder {
        color: rgba(0, 0, 0, 0);
      }

      textarea {
        height: 10rem;
        resize: none; //去掉右下角调整大小的角标
        font: inherit;
      }
      .subText {
        max-width: calc(100% / 2 - 0.5rem);
      }

      .sendBtn {
        background-color: var(--borderBg);
        color: #ffffff;
        font-weight: bold;
        outline: none;
        border: none;
        padding: 1rem 5.5rem;
        font-size: 1.2rem;
        letter-spacing: 0.2rem;
        margin: auto;
        border-radius: 2px;
        transition: all 0.1s ease-in-out;
      }
      .sendBtn:hover {
        transform: scale(1.06);
        cursor: pointer;
      }
      .sendBtn:active {
        transform: translateY(0.2rem);
      }
    }
  }
  .formCon > * {
    margin-bottom: 1.5rem;
  }

  .extraConnection {
    margin-top: -8rem;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    display: flex;
    flex-flow: column nowrap;
    z-index: 2;
    .smallIntro {
      position: relative;
      padding-left: 2.5rem;
    }
    .smallIntro::before {
      content: "";
      position: absolute;
      border-bottom: 1px solid var(--appColor);
      width: 1.8rem;
      left: 0rem;
      top: 50%;
      transform: translateY(-50%);
      box-sizing: border-box;
    }

    .iconCon {
      padding-left: 2rem;
      margin-top: 1rem;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
    .iconCon > * {
      margin-right: 2rem;
    }
  }
}

@media (max-width: 719px) {
  .contactCon {
    flex-flow: column nowrap;
    justify-content: center;

    --contactFormWidth: 125%;

    .constructor {
      max-width: 100%;
      margin-right: 0rem;

      .cIntro {
        width: 80%;
        padding: 1.2rem 0rem;
      }
    }
    .formCon {
      margin: auto;
      padding: 4rem 2rem 3rem 2rem;
      margin-top: -5rem;
      // margin-left: -12.5%;
      margin-left: calc(0px - (var(--contactFormWidth) - 100%) / 2);

      .line1 {
        textarea {
          height: 6rem;
        }
      }
    }

    .extraConnection {
      margin-top: 2rem;
      align-items: center;

      .smallIntro {
        text-align: center;
      }
    }
  }
}

@media (min-width: 568px) and (max-width: 719px) {
  .contactCon {
    --contactFormWidth: 100%;

    .constructor {
      max-width: 80%;
    }
  }
}
</style>

<script setup>
import hover_svg from "./hoverSvg.vue";

import qqSvgSrc from "../assets/images/QQ.svg";
import wxSvgSrc from "../assets/images/wechat.svg";
import dingdingSvgSrc from "../assets/images/dingding.svg";
import telephoneSvgSrc from "../assets/images/telephone.svg";
import { ref } from "vue";
import { commonPrefix } from "../config/api.js";

const mailInfo = ref({
  name: "",
  email: "",
  subject: "",
  text: "",
});
const lock = ref(false);
async function sendEmail() {
  if (lock.value) {
    alert("您点击的太快了！");
    return;
  }
  lock.value = true;
  const subject = `${mailInfo.value.name}给您发来邮件：${mailInfo.value.subject}`;
  const text = `来自邮箱<${mailInfo.value.email}>，内容如下： \n ${mailInfo.value.text}`;

  console.log(`消息为：${subject}, ${text}`);

  try {
    const response = await fetch(`${commonPrefix}sendEmail`, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        subject: encodeURIComponent(subject),
        text: encodeURIComponent(text),
      }),
    });
    const json = await response.json();
    if (json.success) {
      alert("发送成功！");
      Object.keys(mailInfo.value).forEach(function (item, index, originArr) {
        mailInfo.value[item] = "";
      }, undefined);
    } else {
      alert("发送失败");
      console.log("发送失败，失败原因：", json.extra);
    }
  } catch (e) {
    console.log("出错了！", e);
  } finally {
    lock.value = false;
  }
}
</script>
