<template>
  <div
    :class="{ headCon: true, shadowCon: !scrollDown && !atTop, hideHeader: scrollDown }"
  >
    <a href="#home" class="logoCon">
      <div class="logoImg">
        <img src="../assets/images/favicon.png" />
      </div>
      <div>邹竹</div>
    </a>

    <div @click="clickHandler($event)" :class="{ menu: true, showMenu: showMenu }">
      <a href="#home">
        <div class="item">首页</div>
      </a>
      <a href="#projectCon">
        <div class="item">项目</div>
      </a>
      <a href="#contactCon">
        <div class="item">联系我</div>
      </a>
      <a href="/个人简历_邹竹.pdf" target="_blank">
        <div class="resumeAttachment">
          <div>简历附件</div>
          <img
            class="downloadSvg"
            :dark_svg="isDarkMode ? 'true' : ''"
            src="../assets/images/download.svg"
          />
        </div>
      </a>
      <div class="close" @click="showMenu = false">
        <img src="../assets/images/close.svg" />
      </div>
    </div>

    <div class="darkIcon">
      <img @click="changeDarkMode" :src="isDarkMode ? lightSrc : darkSrc" />
    </div>
    <div @click="showMenu = true" class="showMenuBtn">
      <img src="../assets/images/menu.svg" />
    </div>
  </div>
</template>

<script setup>
import { inject, nextTick, onMounted, ref } from "vue";
import lightSrc from "../assets/images/light.svg";
import darkSrc from "../assets/images/dark.svg";

const showMenu = ref(false);

const changeDarkMode = inject("changeDarkMode");
const isDarkMode = inject("isDarkMode", false);
const scrollDown = ref(false);

const atTop = ref(true);

const firstIn = ref(true);
// 防止回到浏览位置
// if (history.scrollRestoration) {
//   history.scrollRestoration = "manual";
// }
// 监听滑动

onMounted(() => {
  let beforePosition = window.scrollY;
  //之所以要在onMounted里监听是为了避免header初始化渲染完又消失
  window.addEventListener("scroll", () => {
    const currentPosition = window.scrollY;
    if (currentPosition > 0) {
      atTop.value = false;
    } else {
      atTop.value = true;
    }
    if (currentPosition >= beforePosition) {
      //向下滑动
      scrollDown.value = true;
    } else {
      scrollDown.value = false;
    }
    beforePosition = currentPosition;
  });
});

function clickHandler(event) {
  if (event.target.className.indexOf("menu") === -1) {
    showMenu.value = false;
  }
}
</script>

<style lang="less" scoped>
.headCon {
  height: var(--headerHeight);
  display: flex;
  flex-flow: row nowrap;
  padding: 0 10% 0 10%;
  position: fixed;
  width: 100%;
  top: 0;
  transition: all 0.3s ease-in-out;
  background: var(--appBg);
  z-index: 999;
  align-items: center;

  .logoCon {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    user-select: none;
    margin-right: 2rem;
    text-decoration: none;
    color: inherit;

    .logoImg {
      margin-right: 0.6rem;
    }
  }

  .menu {
    display: flex;
    flex-flow: row nowrap;
    margin-left: auto;
    align-items: center;
    box-sizing: border-box;

    .close {
      display: none;
      position: absolute;
      width: 1.5rem;
      height: 1.5rem;
      right: 2.4rem;
      top: 2rem;

      img {
        width: 100%;
      }
    }

    a {
      text-decoration: none; /* 取消下划线 */
      color: inherit; /* 继承父元素的文字颜色 */
    }

    div {
      transition: all 0.3s ease-in-out;
    }

    @margin: 0 20px;
    @userSelect: none;
    .item {
      margin: @margin;
      position: relative;
      user-select: @userSelect;
    }

    .item::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -6px;
      width: 0;
      height: 2px;
      background-color: var(--hoverColor);
      transition: width 0.3s ease-in-out; /* 添加过渡效果 */
    }
    .item:hover {
      font-weight: bold;
    }
    .item:hover::after {
      width: 100%; /* 鼠标悬停时横线宽度变为100% */
    }

    .resumeAttachment {
      background-color: var(--contrastBg);
      color: var(--contrastColor);
      padding: 0.9rem 1rem;
      font-weight: bold;
      border-radius: 2px;

      margin: @margin;
      position: relative;
      user-select: @userSelect;
      display: flex;
      align-items: center;

      .downloadSvg {
        width: 1rem;
        margin-left: 0.3rem;
      }
      .downloadSvg[dark_svg="true"] {
        filter: invert(1);
      }
    }
    .resumeAttachment:hover {
      cursor: pointer;
      padding: 1rem 1.1rem;
    }
  }
  .menu > *:active {
    transition: transform 0.02s ease-in-out;
    transform: scale(0.9);
  }
  .menu > :last-child {
    margin-right: 0;
  }
  .darkIcon {
    width: 1.6rem;
    height: 1.6rem;
    align-self: center;
    img {
      width: 100%;
    }
  }
  .showMenuBtn {
    display: none;
    padding: 0.25rem;
    background-color: var(--scrollTagBg);
    align-self: center;

    img {
      width: 1.3rem;
    }
  }
  @media (max-width: 719px) {
    .menu {
      flex-flow: column nowrap;
      align-items: center;
      position: fixed;
      top: 0rem;
      width: 100%;
      left: 0;
      background-color: rgba(0, 0, 0, 0.75);
      backdrop-filter: blur(8px);
      color: #ffffff;
      padding-bottom: 2.8rem;

      transform: translateY(-100%);
      transition: all 0.3s ease-in-out;

      .close {
        display: block;
      }

      a {
        margin-top: 2rem;
      }
    }
    .showMenu {
      transform: translateY(0);
    }
    .showMenuBtn {
      display: flex;
      align-items: center;
    }
    .darkIcon {
      margin-left: auto;
      margin-right: 1.2rem;
    }
  }
}

.hideHeader {
  top: calc(0px - var(--headerHeight));
}

.shadowCon {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
</style>
