<template>
  <div
    :class="{ iconItem: true, showQRForIphone: isShowTitle }"
    :direction="direction"
    :device="noIphone ? 'normal' : 'iphone'"
    @click="handleClick($event)"
  >
    <div class="wechatQR">
      <slot name="bubbleContent"></slot>
    </div>
    <img :src="svgSrc" />
  </div>
</template>

<script setup>
import { ref } from "vue";
import { getPlatform } from "../assets/scripts/utils.js";

const platForm = getPlatform(); //'iphone' or 'gphone';

const noIphone = ref(!(platForm === "iphone")); //正常情况为true，在ios为false，需要把hover去掉变为点击事件

defineProps(["direction", "svgSrc"]);

const isShowTitle = ref(false);
let outClick = null; // 全局变量用于存储监听器

function handleClick(targetEvent) {
  if (noIphone.value) return; //不在iPhone内直接不处理点击事件
  if (!isShowTitle.value) {
    isShowTitle.value = true;
    // 添加全局监听并令气泡消失
    outClick = function (event) {
      // 判断点击的目标元素是否是气泡元素，如果是则不执行以下代码
      if (event.target === targetEvent.target) return;

      isShowTitle.value = false;
      document.body.removeEventListener("click", outClick);
    };
    document.body.addEventListener("click", outClick);
  } else {
    isShowTitle.value = false;
    document.body.removeEventListener("click", outClick);
  }
}
</script>

<style lang="less" scoped>
.iconItem {
  --TransformShow: translate(-50%, calc(-100% - 20px)) scale(1);
  --TransformHide: translate(-50%, calc(-100% - 20px)) scale(0);
  --arrow: translate(-50%, 0) rotate(45deg);
  .wechatQR {
    left: 50%;
  }
  .wechatQR::after {
    bottom: -5px;
    left: 50%;
  }
}
.iconItem[direction="vertical"] {
  --TransformShow: translate(calc(-100% - 20px), -50%) scale(1);
  --TransformHide: translate(calc(-100% - 20px), -50%) scale(0);
  --arrow: translate(0, -50%) rotate(45deg);
  .wechatQR {
    left: unset;
    top: 50%;
  }
  .wechatQR::after {
    bottom: unset;
    left: unset;
    right: -5px;
    top: 50%;
  }
}
.iconItem {
  padding: 0.5rem;
  background: var(--iconBg);
  color: var(--iconColor);
  width: 1.5rem;
  height: 1.5rem;
  position: relative;

  img {
    max-width: 100%;
    max-height: 100%;
  }

  .wechatQR {
    position: absolute;
    content: "";
    transform: var(--TransformHide);
    opacity: 0;
    z-index: 3;
    padding: 10px;
    background: var(--appColor);
    color: var(--appBg);
    text-align: center;
    transition: all 0.1s linear;
    box-sizing: border-box;
    white-space: nowrap;
    pointer-events: none;
    width: 12rem;
    border-radius: 2px;
  }
  .wechatQR::after {
    content: "";
    width: 10px;
    height: 10px;
    background: var(--appColor);
    position: absolute;
    transform: var(--arrow);
  }
}

.iconItem[device="normal"]:hover {
  .wechatQR {
    transform: var(--TransformShow);
    opacity: 1;
  }
}
.showQRForIphone {
  .wechatQR {
    transform: var(--TransformShow);
    opacity: 1;
  }
}
</style>
