<template>
  <div class="profile_con">
    <div class="text_con">
      <div class="name">邹竹</div>
      <div class="intro">
        <div class="line"></div>
        <div class="text">
          <div class="text_bg"></div>
          <div class="pureText">
            Web前端开发工程师，未来的全栈工程师，擅长网站开发与维护，我能为您的任何网站提供高质量的代码
          </div>
        </div>
      </div>
    </div>
    <div class="avatarCon">
      <div class="imgCon">
        <img class="avatar" src="../assets/images/avatar1.jpg" />
        <div class="square"></div>
      </div>
      <div class="iconCon">
        <hover_svg direction="vertical" :svgSrc="qqSvgSrc">
          <template #bubbleContent>QQ：1084305889</template>
        </hover_svg>

        <hover_svg direction="vertical" :svgSrc="wxSvgSrc">
          <template #bubbleContent>
            <img src="../assets/images/wxQRCode.jpg" />
          </template>
        </hover_svg>

        <hover_svg direction="vertical" :svgSrc="dingdingSvgSrc">
          <template #bubbleContent>钉钉：13372410754</template>
        </hover_svg>

        <hover_svg direction="vertical" :svgSrc="telephoneSvgSrc">
          <template #bubbleContent>电话：13372410754</template>
        </hover_svg>
      </div>
    </div>

    <a class="scrollDownA" href="#skillPage">
      <div class="scrollDownTag">
        <img class="movedTag" src="../assets/images/down.svg" />
      </div>
    </a>
  </div>
</template>

<script setup>
import hover_svg from "./hoverSvg.vue";
import qqSvgSrc from "../assets/images/QQ.svg";
import wxSvgSrc from "../assets/images/wechat.svg";
import dingdingSvgSrc from "../assets/images/dingding.svg";
import telephoneSvgSrc from "../assets/images/telephone.svg";
</script>

<style lang="less" scoped>
.profile_con {
  display: flex;
  flex-flow: row wrap;
  position: relative;

  img {
    max-width: 100%;
    max-height: 100%;
  }

  .text_con {
    flex: 1;
    flex-shrink: 0;

    div {
      box-sizing: border-box;
      user-select: none;
    }

    .name {
      font-weight: bold;
      font-size: 4rem;
      letter-spacing: 3rem;
    }
    .intro {
      line-height: 2rem;
      padding-top: 2rem;
      padding-right: 2rem;
      position: relative;
      display: flex;
      flex-flow: row nowrap;

      .line {
        width: 1.5rem;
        border-bottom: 2px solid var(--appColor);
        display: flex;
        flex-shrink: 0;
        margin-right: 20px;
        align-self: flex-start;
        padding-top: 1rem;
        margin-left: 5px;
      }

      .text {
        position: relative;
        z-index: 2;
        min-width: 200px;

        .text_bg {
          position: absolute;
          top: 0px;
          left: 0px;
          width: 100%;
          height: 2rem;
          z-index: 0;
          background: linear-gradient(
            to right,
            var(--textBgStart) 0%,
            var(--textBgEnd) 70%,
            var(--textBgEnd) 100%
          );
        }
        .pureText {
          z-index: 2;
          position: relative;
          letter-spacing: 0.13rem;
          padding-bottom: 1rem;
        }
      }
    }
  }
  .avatarCon {
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
    flex-shrink: 0;
    align-self: flex-end;

    .imgCon {
      width: 65%;
      min-width: 200px;
      border-bottom: 1rem solid var(--borderBg);
      border-right: 1rem solid var(--borderBg);
      margin-left: auto;
      position: relative;
      align-self: flex-end;

      .avatar {
        width: 100%;
      }
      .square {
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: var(--borderBg);
        rotate: -30deg;
        left: -60px;
        top: 30%;
      }
      .square::after {
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        border: 3px solid var(--squareOuter);
        left: -5px;
        top: -5px;
      }
    }
    .iconCon {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-around;
      padding-left: 20px;
    }
  }

  .scrollDownA {
    position: absolute;
    bottom: calc(0px - var(--scrollTagWidth) - 20px);
    text-decoration: none; /* 取消下划线 */
    color: inherit; /* 继承父元素的文字颜色 */
  }
  .scrollDownTag {
    color: var(--scrollTagColor);
    background-color: var(--scrollTagBg);
    width: var(--scrollTagWidth);
    height: var(--scrollTagWidth);
    transition: all 0.3s ease-in-out;
    display: flex;

    @keyframes movedTag {
      0% {
        transform: translateY(-1rem);
        opacity: 0;
      }

      50% {
        transform: translateY(0);
        opacity: 1;
      }
      100% {
        transform: translateY(0.6rem);
        opacity: 0;
      }
    }
    .movedTag {
      animation: movedTag 2s infinite;
      margin: auto;
      width: 1rem;
    }
  }
  .scrollDownTag::after {
    content: "向下滑动";
    position: absolute;
    white-space: nowrap;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    left: calc(100% + 1rem);
    color: var(--modifierColor);
  }
}
</style>
