<template>
  <div class="projectCard" @click="goProject">
    <img :src="projectInfo.imgSrc" class="projectImg" />
    <div class="pTitle">{{ projectInfo.title }}</div>
    <div class="pIntro">{{ projectInfo.intro }}</div>
    <div class="pTips" v-if="projectInfo.tips">{{ projectInfo.tips }}</div>

    <a @click.prevent.stop="goProjectCode" :href="projectInfo.gitSrc" class="pGit">
      <div>项目源码{{ projectInfo.gitSrc == "" ? "（不可查看）" : "" }}</div>
      <img
        :isDarkMode="isDarkMode ? true : false"
        class="pGitSvg"
        src="../assets/images/gitlab.svg"
      />
    </a>
  </div>
</template>

<script setup>
import { inject } from "vue";

const props = defineProps(["projectInfo"]);
const projectInfo = props.projectInfo;
const isDarkMode = inject("isDarkMode");

function goProject() {
  if (projectInfo.address) {
    window.open(projectInfo.address);
  } else {
    alert("前公司项目已失效不可访问了 T_T ");
  }
}
function goProjectCode() {
  if (projectInfo.gitSrc) {
    window.open(projectInfo.gitSrc);
  } else {
    alert("前公司项目代码不可公开！");
  }
}
</script>

<style lang="less" scoped>
.projectCard {
  width: var(--cardWidth);
  transition: transform 0.2s linear !important;
  border: 4px solid var(--scrollTagBg);
  padding: 1rem;
  box-sizing: border-box;
  margin-right: 2rem;
  margin-bottom: 2rem;
  flex-shrink: 0;
  display: flex;
  flex-flow: column nowrap;
  letter-spacing: 0.1rem;
  align-items: flex-start;

  .projectImg {
    width: 100%;
    min-height: 3rem;
  }
  .pTitle {
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
  }
  @introMgBtn: 1.4rem;
  .pIntro {
    margin-top: 1rem;
    margin-bottom: @introMgBtn;
    font-size: 0.9rem;
  }
  .pTips {
    font-size: 0.75rem;
    position: relative;
    top: -@introMgBtn + 0.1rem;
    opacity: 0.7;
  }
  .pGit {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 1rem;
    color: inherit;
    font-size: 0.9rem;
    letter-spacing: 0.08rem;

    .pGitSvg {
      width: 1rem;
    }
  }
}
.projectCard:hover {
  transform: scale(1.1) !important;
  box-shadow: 10px 10px 0px 0px var(--scrollTagBg);
}
</style>
