<template>
  <div id="projectCon" class="projectCon">
    <div class="projectTitle">项目 . Projects</div>
    <div class="cardsCon">
      <project v-for="item of projectsList" :key="item.id" :projectInfo="item"></project>
    </div>
  </div>
</template>

<script setup>
import { ref } from "vue";
import project from "./project.vue";

import { protocalDomin } from "../config/api.js";

import thinkofmeImg from "../assets/images/projectsImgs/thinkofme.png";
import dehydrationReport from "../assets/images/projectsImgs/dehydrationReport.jpg";
import anniversary from "../assets/images/projectsImgs/anniversary.jpg";
import test from "../assets/images/projectsImgs/test.jpg";
import wealthTest from "../assets/images/projectsImgs/wealthTest.jpg";
import ah from "../assets/images/projectsImgs/ah.jpg";

const projectsList = ref([
  {
    id: 0,
    title: "整合页",
    imgSrc: thinkofmeImg,
    intro: "天气预报、前端大文档、个人资料3D场景等",
    address: `${protocalDomin}/think/`,
    gitSrc: "https://gitlab.com/public_mfs/thinkofme",
  },
  {
    id: 1,
    title: "壹号研报",
    imgSrc: dehydrationReport,
    intro: "精选研报，为股票投资者提供参考",
    tips: "仅支持微信APP、同花顺APP内使用",
    address: "https://ozone.thsbx.cn/webpage/dehydration-report/index.html",
    gitSrc: "",
  },

  {
    id: 2,
    title: "投资身份测试",
    imgSrc: test,
    intro: "答题并生成用户投资画像",
    tips: "仅支持微信APP、同花顺APP内使用",
    address:
      "https://ozone.10jqka.com.cn/tg_templates/doubleone/2020-q1/InvestorTest/index.html",
    gitSrc: "",
  },
  {
    id: 3,
    title: "线上年会",
    imgSrc: anniversary,
    intro: "2021年春节年会活动（移动端项目），包含多个不同类型的小游戏、活动",
    address:
      "https://ozone.thsbx.cn/tg_templates/doubleone/2020-q1/activity_annualParty2020/index.html",
    gitSrc: "",
  },
  {
    id: 4,
    title: "财商测试",
    imgSrc: wealthTest,
    intro: "股票投资财商测试",
    tips: "仅支持微信端访问",
    address: "http://ozone.thsbx.cn/tg_templates/doubleone/2020-q1/wealthTest/index.html",
    gitSrc: "",
  },
  {
    id: 5,
    title: "高校模拟炒股",
    imgSrc: ah,
    intro: "安徽省高校模拟炒股大赛",
    tips: "仅能在同花顺APP内正常使用",
    address:
      "https://ozone.10jqka.com.cn/tg_templates/doubleone/2020-q1/activity_ahCollegeGame/index.html",
    gitSrc: "",
  },
]);
</script>

<style lang="less" scoped>
.projectCon {
  width: 125%;
  left: -12.5%;
  margin-top: 15rem;
  padding: 0rem 2rem 0 2rem;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  .projectTitle {
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;
    padding-bottom: 4rem;
  }

  .cardsCon {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-left: 2rem; //为了平衡子项的margin-right:2rem;
  }
}
</style>
