<template>
  <div id="skillPage" class="skillCon">
    <div class="skillTitle">技能 . Skills</div>
    <div class="skillsAll">
      <a
        v-for="item in skillsArray"
        :key="item.name"
        class="skillItem"
        :href="item.page"
        target="_blank"
      >
        <img class="skillSvg" :img_name="isDarkMode ? item.name : ''" :src="item.src" />
        <div class="skillName">{{ item.name }}</div>
      </a>
    </div>
  </div>
</template>

<script setup>
import { inject, ref } from "vue";
import bootstrapSrc from "../assets/images/bootstrap-plain.svg";
import css3Src from "../assets/images/css3-plain.svg";
import expressSrc from "../assets/images/express-original.svg";
import gitSrc from "../assets/images/git-original.svg";
import githubSrc from "../assets/images/github-original.svg";
import html5Src from "../assets/images/html5-plain.svg";
import jsSrc from "../assets/images/javascript-original.svg";
import nodeSrc from "../assets/images/nodejs-original.svg";
import reactSrc from "../assets/images/react-original.svg";
import vscodeSrc from "../assets/images/vscode-original.svg";
import vueSrc from "../assets/images/vue.svg";
import gitlabSrc from "../assets/images/gitlab.svg";
import typescriptSrc from "../assets/images/typescript.svg";
import dockerSrc from "../assets/images/docker.svg";
const skillsArray = ref([
  {
    name: "HTML",
    src: html5Src,
    page: "https://developer.mozilla.org/zh-CN/docs/Web/HTML",
  },
  {
    name: "CSS",
    src: css3Src,
    page: "https://developer.mozilla.org/zh-CN/docs/Web/CSS",
  },
  {
    name: "JAVASCRIPT",
    src: jsSrc,
    page: "https://developer.mozilla.org/zh-CN/docs/Web/JavaScript",
  },
  {
    name: "TYPECSCRIPT",
    src: typescriptSrc,
    page: "https://www.tslang.cn/docs/handbook/basic-types.html",
  },
  {
    name: "VUE2 & VUE3",
    src: vueSrc,
    page:
      "https://cn.vuejs.org/guide/introduction.html#vue-js-%E6%98%AF%E4%BB%80%E4%B9%88",
  },
  {
    name: "REACT",
    src: reactSrc,
    page: "https://react.jscn.org/",
  },
  {
    name: "VSCODE",
    src: vscodeSrc,
    page: "https://code.visualstudio.com/docs",
  },
  {
    name: "BOOTSTRAP",
    src: bootstrapSrc,
    page: "https://www.bootcss.com/",
  },
  {
    name: "NODE",
    src: nodeSrc,
    page: "https://nodejs.cn/",
  },
  {
    name: "EXPRESS",
    src: expressSrc,
    page: "https://www.expressjs.com.cn/starter/installing.html",
  },

  {
    name: "DOCKER",
    src: dockerSrc,
    page: "https://www.docker.org.cn/book/docker/what-is-docker-16.html",
  },
  {
    name: "GITLAB CI/CD",
    src: gitlabSrc,
    page: "https://docs.gitlab.cn/jh/ci/",
  },
  {
    name: "GIT",
    src: gitSrc,
    page: "https://git-scm.com/book/zh/v2",
  },
  {
    name: "GITHUB",
    src: githubSrc,
    page: "https://github.com/",
  },
]);

const isDarkMode = inject("isDarkMode");
</script>

<style lang="less" scoped>
.skillCon {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 15rem;

  width: 110%;
  transform: translateX(-4.545%);

  .skillTitle {
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;
    padding-bottom: 2rem;
  }
  .skillsAll {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .skillItem {
      display: flex;
      flex-flow: column nowrap;
      margin: var(--skillItemMarginVertical) var(--skillItemMarginJustify)
        var(--skillItemMarginVertical) var(--skillItemMarginJustify);

      user-select: none;
      cursor: pointer;
      transition: 0.1s !important;
      color: inherit; /* 继承父元素的文字颜色 */
      text-decoration: none;
      width: 5rem;

      .skillSvg {
        width: 100%;
        margin: 0 auto;
      }
      .skillSvg[img_name="GITHUB"] {
        filter: invert(1);
      }
      .skillName {
        padding-top: 10px;
        text-align: center;
        margin-top: auto;
        width: fit-content;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
        font-size: 0.95rem;
      }
    }
    .skillItem:hover {
      transform: scale(1.1) !important;
    }
    .skillItem:active {
      transform: translateY(1rem) !important;
    }
  }
}
</style>
