<script setup>
import { nextTick, onMounted, provide, ref, watch } from "vue";
import header_comp from "./components/header_comp.vue";
import profile from "./components/profile.vue";
import skills from "./components/skills.vue";
import projects from "./components/projects.vue";
import contact from "./components/contact.vue";

let isDarkMode = ref(window.localStorage.getItem("isDarkMode") === "true" || false);

function changeDarkMode() {
  isDarkMode.value = !isDarkMode.value;
  window.localStorage.setItem("isDarkMode", isDarkMode.value);
}
watch(
  isDarkMode,
  (newVal) => {
    if (newVal) {
      document.documentElement.setAttribute("is_dark", "true");
    } else {
      document.documentElement.removeAttribute("is_dark");
    }
  },
  { immediate: true }
);

provide("isDarkMode", isDarkMode);
provide("changeDarkMode", changeDarkMode);

const isLoading = ref(true);

import ScrollReveal from "scrollreveal";

window.onload = function () {
  //注意，这里的scrollreveal不能写在mounted内部，只能写在onload回调内，否则会出现元素还未离开页面就消失的bug，必须等所有图片等资源都加载完成（onload事件）之后再调用
  const sr = ScrollReveal({
    origin: "top",
    distance: "6rem",
    // duration: 1000,
    delay: 100,
    reset: true,
    beforeReveal: () => {
      isLoading.value = false;
    },
  });
  sr.reveal(
    ".name, .intro, .skillTitle, .projectTitle, .cTitle, .constructor, .extraConnection",
    {
      origin: "left",
    }
  );
  sr.reveal(".formCon", { origin: "right" });
  sr.reveal(".skillItem, .projectCard", { interval: "100" });
  sr.reveal(".avatarCon, .scrollDownTag");
}
</script>

<template>
  <div v-show="isLoading" class="overlay"></div>
  <div id="home" class="appContainer">
    <header_comp></header_comp>
    <main v-cloak>
      <profile></profile>
      <skills></skills>
      <projects></projects>
      <contact></contact>
    </main>
    <footer style="text-align: center; padding: 1.5rem; font-size: 0.9rem">
      <div>
        备案号：<a
          style="color: inherit"
          href="https://beian.miit.gov.cn/"
          target="_blank"
          >湘ICP备2024064954号-1</a
        >
      </div>
    </footer>
  </div>
</template>

<style lang="less" scoped>
[v-cloak] {
  display: none;
}
div {
  box-sizing: border-box;
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: var(--overlayBg);
}
.appContainer {
  background-color: var(--appBg);
  transition: all ease-in-out 0.3s;
  color: var(--appColor);
  // min-width: 100vw; //不能写这个，否则会导致右侧进度条出现时占据宽度而导致宽度不够出现下方的进度条
  min-height: 100vh;
  overflow: hidden;

  main {
    padding: calc(var(--appTopGap) + var(--headerHeight)) 10% 50px 10%;
    box-sizing: border-box;
  }
}
</style>
