:root {
    --headerHeight: 4.2rem;
    --overlayBg: #ffffff;
    --appColor: #213547;
    --appBg: #ffffff;

    --appTopGap: 3rem;

    --hoverColor: #1a1a1a;
    --contrastBg: #1a1a1a;
    --contrastColor: #ffffff;

    --textBgStart: rgba(186, 239, 191, 1);
    --textBgEnd: rgba(186, 239, 191, 0);
    --borderBg: #0a4c0b;

    --iconBg: rgba(77, 77, 77, 1);
    --iconColor: rgba(243, 243, 243, 1);
    --squareOuter: rgba(0, 0, 0, 1);

    --scrollTagBg: rgba(0, 0, 0, 1);
    --scrollTagColor: rgba(243, 243, 243, 1);
    --scrollTagWidth: 45px;
    --modifierColor: rgba(46, 46, 46, 1);

    --skillItemMarginVertical: 1.5rem;
    --skillItemMarginJustify: 0.8rem;

    --cardWidth: 100%;
    --cardGapRight: 1.5rem;
    --cardGapBtn: 2rem;

    --cardBg: rgba(255, 255, 255, 1);

}

:root[is_dark="true"] {
    --overlayBg: #1a1a1a;
    --appColor: #ffffff;
    --appBg: #1a1a1a;

    --hoverColor: #ffffff;
    --contrastBg: #ffffff;
    --contrastColor: #1a1a1a;

    --textBgStart: rgba(22, 73, 32, 1);
    --textBgEnd: rgba(22, 73, 32, 0);
    --borderBg: #30b71b;

    --iconBg: rgba(102, 102, 102, 1);
    --squareOuter: rgba(46, 46, 46, 1);

    --scrollTagBg: rgba(46, 46, 46, 1);
    --modifierColor: rgba(243, 243, 243, 1);

    --cardBg: rgba(31, 31, 31, 1);
}

@media (min-width: 568px) {
    :root {
        --headerHeight: 5.5rem;
        --skillItemMarginVerical: 3rem;
        --skillItemMarginJustify: 3rem;
        --cardWidth: 350px;
        --appTopGap: 8rem;
    }
}